@model WebApplicationAPP.Models.Clientes

<h1>Detalles</h1>

<p>
    Id: @Model.Id
</p>

<p>
    Nombre: @Model.Nombre
</p>

<p>
    Correo Electrónico: @Model.CorreoElectronico
</p>

<p>
    Teléfono: @Model.Telefono
</p>

<p>
    Dirección: @Model.Direccion
</p>

<p>
    Fecha de registro: @Model.FechaRegistro
</p>

<p>
    Activo = @Model.Activo
</p>

<a asp-action="Index">Regresar a la lista</a>
