@model IEnumerable<WebApplicationAPP.Models.Clientes>

<h1>Lista de Clientes</h1>

<button class="btn btn-secondary">
    <a asp-action="Create">Registrar Clientes</a>
</button>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Activo</th>
        <th>Acciones</th>
    </tr>


    @foreach (var item in Model )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Telefono</td>
            <td>@item.Activo</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }


  
 
</table>
