@model IEnumerable<WebApplicationAPP.Models.Clientes>

@{
    ViewBag.Title = "Clientes ";
}

<h1>Lista de Clientes</h1>

<a class="btn btn-primary"
   asp-action="Create"
   role="button">Crear</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clientes in Model)
        {
            <tr>
                <td>@clientes.Id</td>
                <td>@clientes.Nombre</td>
                <td>@clientes.Estado</td>
                <td>

                    <a class="btn btn-success"
                       asp-action="Details" asp-route-id="@clientes.Id"
                       role="button">Detalles</a>

                    <a class="btn btn-warning"
                       asp-action="Edit" asp-route-id="@clientes.Id"
                       role="button">Editar</a>

                    <a class="btn btn-danger"
                       asp-action="Delete" asp-route-id="@clientes.Id"
                       role="button">Eliminar</a>
                    @* <a asp-action="Details" asp-route-id="@clientes.Id">Detalles</a> | *@
                    @* <a asp-action="Edit" asp-route-id="@clientes.Id">Editar</a> | *@
                    @* <a asp-action="Delete" asp-route-id="@clientes.Id">Eliminar</a> *@
                </td>
            </tr>
        }
    </tbody>
